body{
	padding: 50px 50px 80px 70px;
	background-color: #22B573;
}
a{
	color: white;
}
header{
	margin-bottom: 63px;
}
.logo{
	float: right;
	width: 201px;
	margin-left: 40px;
}
.nav-menu{
	display: inline-block;
	float: right;
}
.clear{
	clear: both;
}
.li{
	display: inline-block;
	margin-left: 40px;
	font-size: 50px;
}
.li-2{
	display: inline-block;
	margin-left: 40px;
	font-size: 50px;
}
.li-3{
	display: inline-block;
	margin-left: 40px;
	font-size: 50px;
}
.li-4{
	display: inline-block;
	margin-left: 40px;
	font-size: 50px;
}
.box-1{
	width: 617px;
	height: 300px;
	background-color: #FCEE21;
	padding: 23px 24px 36px 26px;
}
.par{
	display: inline-block;
	width: 389px;
}
.i-par{
	width: 556px;
}
.banner{
	float: right;
}
.box-2{
	width: 483px;
	height: 300px;
	background-color: #FCEE21;
	padding: 23px 24px 36px 26px;
	display: inline-block;
	float: right;
	margin-left: 10px;
}
.ib{
	display: inline-block;
}
.clear-1{
	clear: both;
}
.banner2{
	display: inline-block;
	float: left;
	margin-right: 20px;
	margin-bottom: 16px;
}
.par-1{
	width: 450px;
	color: #006837
}
.i-par-1{
	color: #006837
}